/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  .recipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .recipe-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .recipe-photo {
    margin-bottom: 2rem;
  }
  
  .recipe-photo img {
    width: 100%;
    height: auto;
  }
  
  .recipe-details {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .ingredients-list {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  
  .instructions-list {
    list-style-type: decimal;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 768px) {
    .recipe-container {
      padding: 1rem;
    }
  
    .recipe-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    .section-title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .ingredients-list {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  
    .instructions-list {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }
  